extends main

block header

block navigation

block content
  div.container
    div.marketing
      h1 Whoops
      p.marketing-byline
      | The page you are looking for cannot be found :(

block foot

