dl
  dt
    i.icon-ok
    | W3C best practices about this website
  dd
    div.dynamic-bg
    a(href='http://validator.w3.org/check?uri=http%3A%2F%2Fwww.soks.fr%2F') The 
      span.label.label-info HTML5
      |  code is 
      span.label.label-info W3C
      |  valid.
  dd The images are all grouped together in a unique 
    a(href='/sprites.png') 
      span.label.label-info CSS sprite
      | .
  dd
    a(href='http://www.w3.org/html/wg/drafts/html/master/grouping-content.html#the-dt-element') Why did I use 
      span.label.label-info &lt;dt&gt;
      |  and not 
      span.label.label-info &lt;li&gt;
      ?
  dd Thanks to 
    a(href='http://twitter.github.io/bootstrap/') 
      span.label.label-info Bootstrap
    , this website is compliant with the 
    a(href='http://en.wikipedia.org/wiki/Responsive_Web_Design') 
      span.label.label-info responsive web design patterns
    .
  dt 
    i.icon-ok
    | Technical details about this website
  dd This website is powered by 
      a(href='http://nodejs.org/') 
        span.label.label-info NodeJS
      |  and
      a(href='http://jade-lang.com/')
        span.label.label-info Jade template engine
      .      
script.
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  try {
    var pageTracker = _gat._getTracker("UA-88570-8");
    pageTracker._trackPageview();
  } catch(err) {}