dl
  dt
    i.icon-ok
    | W3C best practices about this website
  dd
    div.dynamic-bg
    a(href='http://validator.w3.org/check?uri=http%3A%2F%2Fwww.soks.fr%2F') The HTML5 code is W3C valid
    .
  dd The images are all grouped together in a unique 
    a(href='/sprites.png') sprite
    | .
  dd
    a(href='http://www.w3.org/html/wg/drafts/html/master/grouping-content.html#the-dt-element') Why did I use &lt;dt&gt; and not &lt;li&gt;?
  dd This website <strong>tries to</strong> be compliant with the 
    a(href='http://en.wikipedia.org/wiki/Responsive_Web_Design') responsive web design patterns
    .
  dt Technical details about this website
  dd This website is powered by 
      a(href='http://nodejs.org/') NodeJS,
      | 
      a(href='http://jade-lang.com/') Jade template engine for NodeJS 
      | and 
      a(href='http://twitter.github.io/bootstrap/') Bootstrap