dl
  dt
    i.icon-ok
    | W3C best practices about this website
  dd
    div.dynamic-bg
      | The 
      span.label.label-info HTML5
      |  code is 
      a(href='//validator.w3.org/check?uri=http%3A%2F%2Fwww.soks.fr%2F') 
        span.label.label-info W3C
        |  valid.
  dd The images are grouped altogether in a unique 
    a(href='/sprites.png') 
      span.label.label-info CSS sprite
    |  thanks to 
    a(href='//spritepad.wearekiss.com/')
      span.label.label-info SpritePad
    |. 
  dd The URLs are 
    a(href='//blog.wikimedia.org/2011/07/19/protocol-relative-urls-enabled-on-test-wikipedia-org')
      span.label.label-info Protocol-relative
    |  (like Wikimedia).
  dd
    a(href='//www.w3.org/html/wg/drafts/html/master/grouping-content.html#the-dt-element') I used 
      span.label.label-info &lt;dt&gt;
      |  and not 
      span.label.label-info &lt;li&gt;
      .
  dd Thanks to 
    a(href='//twitter.github.io/bootstrap/') 
      span.label.label-info Bootstrap 
    |  plus some inspiration from
    a(href='//www.initializr.com/')  
      span.label.label-info Initializr
    |  and 
    a(href='//html5boilerplate.com/', data-toggle='tooltip', title='HTML5 BoilerPlate')
      span.label.label-info H5BP
    , this website is compliant with the 
    a(href='//en.wikipedia.org/wiki/Responsive_Web_Design') 
      span.label.label-info responsive web design patterns
    .
  dd A 
    a(href='/humans.txt')
      span.label.label-info humans.txt
    |  has been created because 
    a(href='humanstxt.org/')
      cite "We are People, Not Machines"
    |. 
  dt 
    i.icon-ok
    | Technical details about this website
  dd This website is powered by 
      a(href='//nodejs.org/') 
        span.label.label-info NodeJS
      | , stylized with
      a(href='//sass-lang.com/') 
        span.label.label-info SASS
      |  and rendered by 
      a(href='//jade-lang.com/')
        span.label.label-info Jade template engine
      .
  dd It has been created using the softwares 
    a(href='//eclipse.org/')
      span.label.label-info Eclipse
    , 
    a(href='//pixlr.com/')
      span.label.label-info Pixlr
    |  and 
    a(href='//code.google.com/p/gitextensions/')
      span.label.label-info GIT Extensions
    | .
  dd The sources are hosted here at 
    a(href='//github.com/sovattha/soks.fr')
      span.label.label-info GitHub
    | .