dl
  dt
    i.icon-ok
    | W3C best practices about this website
  dd
    div.dynamic-bg
    a(href='//validator.w3.org/check?uri=http%3A%2F%2Fwww.soks.fr%2F') The 
      span.label.label-info HTML5
      |  code is 
      span.label.label-info W3C
      |  valid.
  dd The images are grouped altogether in a unique 
    a(href='/sprites.png') 
      span.label.label-info CSS sprite
      |  thanks to 
    a(href='//spritepad.wearekiss.com/')
      span.label.label-info SpritePad
    |. 
  dd The URLs are 
    a(href='//blog.wikimedia.org/2011/07/19/protocol-relative-urls-enabled-on-test-wikipedia-org')
      span.label.label-info Protocol-relative
    |  (like Wikimedia).
  dd
    a(href='//www.w3.org/html/wg/drafts/html/master/grouping-content.html#the-dt-element') I used 
      span.label.label-info &lt;dt&gt;
      |  and not 
      span.label.label-info &lt;li&gt;
      .
  dd Thanks to 
    a(href='//twitter.github.io/bootstrap/') 
      span.label.label-info Bootstrap
    , this website is compliant with the 
    a(href='//en.wikipedia.org/wiki/Responsive_Web_Design') 
      span.label.label-info responsive web design patterns
    .
  dt 
    i.icon-ok
    | Technical details about this website
  dd This website is powered by 
      a(href='//nodejs.org/') 
        span.label.label-info NodeJS
      | , stylized with
      a(href='//sass-lang.com/') 
        span.label.label-info SASS
      |  and rendered by 
      a(href='//jade-lang.com/')
        span.label.label-info Jade template engine
      .
  dd The sources are hosted here at 
    a(href='//github.com/sovattha/soks.fr')
      span.label.label-info GitHub
    | .      
script.
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  try {
    var pageTracker = _gat._getTracker("UA-88570-8");
    pageTracker._trackPageview();
  } catch(err) {}