extends main

block content
  section.hero-unit
    h1 Hello, world! ;-)
    article.lead
      div.sovattha-sok.img-rounded
      p.lead My name is 
        strong Sovattha Sok
        | .
      p.lead I am a French software engineer specialized in 
        strong web development
        |. I am working in Switzerland as an IT consultant since 2003 for clients from Geneva, Nyon or Lausanne. My career is currently evolving at 
        a(href='http://www.ctp.com') CTP
        |.
      p.lead I started as a 
        strong JEE developer 
        | and I am continuously improving my 
        strong Javascript 
        | skills to an advanced level.