doctype 5
html(lang='en')  
  head
    title Sovattha Sok, Java & Javascript developer
    link(rel='openid.server', href='http://www.myopenid.com/server')
    link(rel='openid.delegate', href='http://www.google.com/profiles/sovatthasok')
    meta(charset='utf-8')
    meta(name='author', content='Sovattha Sok')
    meta(name='keywords', content='Sovattha Sok')
    meta(name='description', content='Sovattha Sok, Java & Javascript developer')
    meta(name='robots', content='all')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    link(href='/bootstrap/css/bootstrap.min.css', type='text/css', rel='stylesheet', media='all')
    link(href='/bootstrap/css/bootstrap-responsive.min.css', type='text/css', rel='stylesheet', media='all')
    link(href='/css/style.css', type='text/css', rel='stylesheet', media='all')
    script(src='http://code.jquery.com/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    include navbar
    div.container
      header.page-header.hero-unit
        block header
        div.sovattha-sok-logo.hidden-phone
        h1.visible-phone Sovattha Sok
        h1 #{title}
      block content
      block navigation
        aside.span8
          include navigation
      block foot
        footer
          include footer
        div.sovattha-sok-audi-tt.pull-right.img-circle.hidden-phone.hidden-tablet