nav
  dl
    dt
      i.icon-user
      | See more about me
    dd
      a(href='http://www.geekeries.com/').btn.btn-large
        div.geekeries-logo.dynamic-bg.button-icon
        | My "Geekeries" blog
    dd
      a(href='/video').btn.btn-large
        div.sovattha-sok-audi-tt-logo.dynamic-bg.button-icon
        | My videos
nav
  dl
    dt
      i.icon-thumbs-up
      | Follow me on the social networks
    dd
      a(href='//www.google.com/profiles/sovatthasok').btn.btn-large
        div.google-plus-logo.dynamic-bg.button-icon
        | Google+
    dd
      a(href='//www.facebook.com/sovsk').btn.btn-large
        div.facebook-logo.dynamic-bg.button-icon
        | Facebook
    dd
      a(href='//twitter.com/geekeriescom/').btn.btn-large
        div.twitter-logo.dynamic-bg.button-icon
        | Twitter
    dd
      a(href='//ch.linkedin.com/in/sovatthasok').btn.btn-large
        div.linkedin-logo.dynamic-bg.button-icon
        | LinkedIn
    //- dd
      a(href='//sovatthasok.moncv.com/').btn.btn-large
        div.moncv-logo.dynamic-bg.button-icon
        | My CV