nav
  dl
    dt See more about me
    dd
      a(href='http://www.geekeries.com/')
        div.geekeries-logo.dynamic-bg
        | My "Geekeries" blog
    dd
      a(href='/video/video.html')
        div.sovattha-sok-audi-tt-logo.dynamic-bg
        | My videos
    dt Follow me on the social networks
    dd
      a(href='http://www.google.com/profiles/sovatthasok')
        div.google-plus-logo.dynamic-bg
        | Google+
    dd
      a(href='http://www.google.com/profiles/sovatthasok')
        div.facebook-logo.dynamic-bg
        | Facebook (unactive for now)
    dd
      a(href='http://twitter.com/geekeriescom/')
        div.twitter-logo.dynamic-bg
        | Twitter
    dd
      a(href='http://www.linkedin.com/profile/view?id=16822092')
        div.linkedin-logo.dynamic-bg
        | LinkedIn
    //- dd
      a(href='http://sovatthasok.moncv.com/')
        div.moncv-logo.dynamic-bg
        | My CV