extends main

block content
  section.hero-unit
    article.lead
      table.table.table-bordered
        tr
          td Airport
          td
            img.img-polaroid(src='http://160.53.186.13/generated/CAM_3.jpg')
          td
            img.img-polaroid(src='http://160.53.186.13/generated/CAM_4.jpg')
        tr
          td Meyrin
          td
            img.img-polaroid(src='http://160.53.186.13/generated/CAM_5.jpg')
          td
            img.img-polaroid(src='http://160.53.186.13/generated/CAM_6.jpg')
        tr
          td Vernier
          td
            img.img-polaroid(src='http://160.53.186.13/generated/CAM_7.jpg')
          td
            img.img-polaroid(src='http://160.53.186.13/generated/CAM_8.jpg')
        tr
          td Bernex
          td
            img.img-polaroid(src='http://160.53.186.13/generated/CAM_9.jpg')
          td
            img.img-polaroid(src='http://160.53.186.13/generated/CAM_10.jpg')
        tr
          td Perly
          td
            img.img-polaroid(src='http://160.53.186.13/generated/CAM_11.jpg')
          td
            img.img-polaroid(src='http://160.53.186.13/generated/CAM_12.jpg')
        tr
          td Bardonnex
          td
            img.img-polaroid(src='http://160.53.186.13/generated/CAM_13.jpg')
          td
            img.img-polaroid(src='http://160.53.186.13/generated/CAM_14.jpg')