.sovattha-sok, .sovattha-sok-audi-tt, .sovattha-sok-logo, .twitter-logo, .facebook-logo, .geekeries-logo, .html5-logo, .linkedin-logo, .sovattha-sok-audi-tt-logo, .google-plus-logo, .moncv-logo {
  background: url(sprites.png) no-repeat; }

.sovattha-sok {
  background-position: 0 0;
  width: 700px;
  height: 467px; }

.sovattha-sok-audi-tt {
  background-position: 0 -468px;
  width: 700px;
  height: 327px; }

.sovattha-sok-logo {
  background-position: 0 -803px;
  width: 509px;
  height: 212px; }

.twitter-logo {
  background-position: -149px -1031px;
  width: 19px;
  height: 19px; }

.facebook-logo {
  background-position: -128px -1029px;
  width: 19px;
  height: 19px; }

.geekeries-logo {
  background-position: 0 -1031px;
  width: 49px;
  height: 19px; }

.html5-logo {
  background-position: -83px -1031px;
  width: 19px;
  height: 19px; }

.linkedin-logo {
  background-position: -63px -1031px;
  width: 19px;
  height: 19px; }

.sovattha-sok-audi-tt-logo {
  background-position: -170.00006px -1037px;
  width: 18px;
  height: 13px; }

.google-plus-logo {
  background-position: -104.00006px -1031px;
  width: 19px;
  height: 19px; }

.moncv-logo {
  background-position: -193px -1031px;
  width: 92px;
  height: 19px; }

body {
  font-family: Arial;
  font-size: 1em;
  width: 710px;
  margin: 30px auto;
  background-color: #63aee0;
  background-image: url("/main-background.jpg");
  background-repeat: no-repeat; }
  body aside nav:first-child {
    float: left; }
  body aside nav:last-child {
    float: right; }
  body aside nav div {
    float: left;
    margin-right: 10px; }
  body footer {
    clear: both;
    float: left;
    width: 680px; }
  body footer div {
    float: left;
    margin-right: 10px; }
  @media all and (max-width: 680px) {
    body footer {
      clear: both; } }
  body nav {
    width: 300px; }
  body #video video {
    width: 680px; }
  body h1 {
    text-align: center; }
  body a {
    font-decoration: none; }
  body nav dt {
    text-align: center; }
  body aside a {
    white-space: nowrap; }
  body blockquote {
    font-style: italic; }
  body footer {
    font-size: 0.7em;
    line-height: 0.5em; }
  body body, body a {
    color: #222; }
  body nav dt {
    color: darkorange; }
  body a:hover {
    background-color: lightblue; }
  body #intro {
    color: white; }
  @media all and (max-width: 680px) {
    body #intro {
      color: #222; } }
  @media all and (max-width: 680px) {
    body {
      width: auto; } }
  body header .sovattha-sok-logo {
    margin: auto; }
  body #intro.sovattha-sok {
    width: 680px;
    height: 445px; }
    @media all and (max-width: 680px) {
      body #intro.sovattha-sok {
        width: auto;
        height: auto; } }
  body dt {
    padding: 10px; }
  body dd {
    padding: 0 10px; }
  body dl {
    margin: auto;
    padding-bottom: 10px; }
    @media all and (max-width: 680px) {
      body dl {
        padding-top: 0; } }
  body dt {
    font-weight: bold; }
  body dd {
    margin: 1em; }
  body footer {
    margin-top: 1em; }
    body footer dd {
      margin: 1em; }
  body #intro article {
    margin-left: 290px;
    margin-right: 30px; }
    @media all and (max-width: 680px) {
      body #intro article {
        margin: auto; } }
    body #intro article blockquote {
      clear: both;
      float: left;
      margin: 10px 0; }
    @media all and (max-width: 680px) {
      body #intro article blockquote {
        float: none; } }
  body section, body aside, body footer {
    padding: 10px; }
  @media all and (max-width: 680px) {
    body .sovattha-sok {
      background: none; }
    body .sovattha-sok-audi-tt {
      display: none; } }
  body nav dl {
    background-color: white; }
  body nav dt {
    background-color: lightsteelblue; }
  body img, body .dynamic-bg {
    -webkit-animation: coloredImage 36s infinite; }
  body .drop-shadow {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; }
  body .round-corner {
    border-radius: 20px; }
  body .top-round-corner {
    border-radius: 20px 20px 0 0; }
  body .sec-container {
    background-color: #777;
    border-radius: 20px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), 0px 2px 2px 0px rgba(255, 255, 255, 0.5); }
  body footer {
    background-color: rgba(0, 0, 220, 0.5); }
