extends ../layout

block content
  section#video.drop-shadow
    article
      h1 Presentation of Cachin Wake School
      video(controls='controls', poster='/video/cws.jpg')
        source(src='/video/cws.galaxysiii.mp4')
        source(src='/video/cws.iphone5.mp4')
        source(src='/video/cws.mov')
    article
      h1 Harlem Shake for the 30th birthday of my sister
      video(controls='controls', poster='/video/harlem-shake.jpg')
        source(src='/video/harlem-shake.galaxysiii.mp4')
        source(src='/video/harlem-shake.iphone5.mp4')
        source(src='/video/harlem-shake.mov')
    article
      h1 Karting event 2014 by CTP
      video(controls='controls', poster='/video/karting-event-2014-ctp.jpg')
        source(src='/video/karting-event-2014-ctp.galaxysiii.mp4')
        source(src='/video/karting-event-2014-ctp.iphone5.mp4')
        source(src='/video/karting-event-2014-ctp.mov')