extends ../main

block content
  section#video.row
    article.span12
      ul.thumbnails
        li
            a.btn(href='#cws', role='button', data-toggle='modal')
              img(src='/video/cws.jpg')
              h2 Cachin Wake School
              p A video I have made for my friend Remi Cachin, who is wakeboard teacher. Wakeboard, wakesurf and a lot of fun inside!
        li
            a.btn(href='#harlem-shake', role='button', data-toggle='modal')
              img(src='/video/harlem-shake.jpg')
              h2 Harlem Shake
              p For the 30th birthday of my sister, we spontaneously thought about making our own version of the famous Harlem Shake!
        li
            a.btn(href='#kart', role='button', data-toggle='modal')
              img(src='/video/karting-event-2014-ctp.jpg')
              h2 CTP karting 2013
              p Every year at CTP, we are competing in an amazing race. This year was particularly tough due to the rainy conditions...
  div#cws.media.video.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    video#cws-video.media-object.video-js.vjs-default-skin(controls='controls', poster='/video/cws.jpg')
      source(src='/video/cws.mp4')
      source(src='/video/cws.oggthera.ogv')
      source(src='/video/cws.webm')
      source(src='/video/cws.mov')
    a(href='/video').btn.pull-left.close Close
  div#harlem-shake.media.video.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    video#harlem-shake-video.media-object.video-js.vjs-default-skin(controls='controls', poster='/video/harlem-shake.jpg')
      source(src='/video/harlem-shake.mp4')
      source(src='/video/harlem-shake.oggthera.ogv')
      source(src='/video/harlem-shake.webm')
      source(src='/video/harlem-shake.mov')
    a(href='/video').btn.pull-left.close Close
  div#kart.media.video.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    video#kart-video.media-object.video-js.vjs-default-skin(controls='controls', poster='/video/karting-event-2014-ctp.jpg')
      source(src='/video/karting-event-2014-ctp.mp4')
      source(src='/video/karting-event-2014-ctp.oggthera.ogv')
      source(src='/video/karting-event-2014-ctp.webm')
      source(src='/video/karting-event-2014-ctp.mov')
    button(data-dismiss='modal', aria-hidden='true').btn.pull-left.close Close